*
!*/
!.gitignore
!README.md
!src/*.tex
!src/citationstyles/*.tex
!src/codestyles/*.tex
!src/fonts/*.tex
!src/pagestyles/*.tex
!src/pagestyles/footer/*.tex
!src/pagestyles/header/*.tex
!src/paraphrasing/*.tex
!src/titled-frames/*.tex
!src/titled-frames/frame-title-label-styles/*.tex
!src/titled-frames/frame-title-styles/*.tex
!main/*.tex
!lib/bibfiles/*.bib
!lib/fonts/*/*
!lib/img/png/junge-linke-kaernten-logo.png
!lib/img/svg/Universitaet_klagenfurt_logo.pdf
!lib/img/svg/Universitaet_klagenfurt_logo.pdf_tex
!lib/img/svg/Universitaet_klagenfurt_logo.svg
