*.aux
*.bbl
*.bcf
*.blg
*.log
*.out
*.pdf
*.run.xml
*.synctex.gz
*.toc
*.fls
*.fls_latexmk
*.fdb_latexmk
main/*.aux
main/*.bbl
main/*.bcf
main/*.blg
main/*.log
main/*.out
main/*.pdf
main/*.run.xml
main/*.synctex.gz
main/*.toc
main/*.fls
main/*.fls_latexmk
main/*.fdb_latexmk
src/*.aux
src/*.bbl
src/*.bcf
src/*.blg
src/*.log
src/*.out
src/*.pdf
src/*.run.xml
src/*.synctex.gz
src/*.toc
src/*.fls
src/*.fls_latexmk
src/*.fdb_latexmk
src/codestyles/*.aux
src/codestyles/*.bbl
src/codestyles/*.bcf
src/codestyles/*.blg
src/codestyles/*.log
src/codestyles/*.out
src/codestyles/*.pdf
src/codestyles/*.run.xml
src/codestyles/*.synctex.gz
src/codestyles/*.toc
src/codestyles/*.fls
src/codestyles/*.fls_latexmk
src/codestyles/*.fdb_latexmk
src/pagestyles/*.aux
src/pagestyles/*.bbl
src/pagestyles/*.bcf
src/pagestyles/*.blg
src/pagestyles/*.log
src/pagestyles/*.out
src/pagestyles/*.pdf
src/pagestyles/*.run.xml
src/pagestyles/*.synctex.gz
src/pagestyles/*.toc
src/pagestyles/*.fls
src/pagestyles/*.fls_latexmk
src/pagestyles/*.fdb_latexmk
src/pagestyles/header/*.aux
src/pagestyles/header/*.bbl
src/pagestyles/header/*.bcf
src/pagestyles/header/*.blg
src/pagestyles/header/*.log
src/pagestyles/header/*.out
src/pagestyles/header/*.pdf
src/pagestyles/header/*.run.xml
src/pagestyles/header/*.synctex.gz
src/pagestyles/header/*.toc
src/pagestyles/header/*.fls
src/pagestyles/header/*.fls_latexmk
src/pagestyles/header/*.fdb_latexmk
src/pagestyles/footer/*.aux
src/pagestyles/footer/*.bbl
src/pagestyles/footer/*.bcf
src/pagestyles/footer/*.blg
src/pagestyles/footer/*.log
src/pagestyles/footer/*.out
src/pagestyles/footer/*.pdf
src/pagestyles/footer/*.run.xml
src/pagestyles/footer/*.synctex.gz
src/pagestyles/footer/*.toc
src/pagestyles/footer/*.fls
src/pagestyles/footer/*.fls_latexmk
src/pagestyles/footer/*.fdb_latexmk
src/paraphrasing/*.aux
src/paraphrasing/*.bbl
src/paraphrasing/*.bcf
src/paraphrasing/*.blg
src/paraphrasing/*.log
src/paraphrasing/*.out
src/paraphrasing/*.pdf
src/paraphrasing/*.run.xml
src/paraphrasing/*.synctex.gz
src/paraphrasing/*.toc
src/paraphrasing/*.fls
src/paraphrasing/*.fls_latexmk
src/paraphrasing/*.fdb_latexmk
src/plantuml/*.aux
src/plantuml/*.bbl
src/plantuml/*.bcf
src/plantuml/*.blg
src/plantuml/*.log
src/plantuml/*.out
src/plantuml/*.pdf
src/plantuml/*.run.xml
src/plantuml/*.synctex.gz
src/plantuml/*.toc
src/plantuml/*.fls
src/plantuml/*.fls_latexmk
src/plantuml/*.fdb_latexmk
src/titled-frames/*.aux
src/titled-frames/*.bbl
src/titled-frames/*.bcf
src/titled-frames/*.blg
src/titled-frames/*.log
src/titled-frames/*.out
src/titled-frames/*.pdf
src/titled-frames/*.run.xml
src/titled-frames/*.synctex.gz
src/titled-frames/*.toc
src/titled-frames/*.fls
src/titled-frames/*.fls_latexmk
src/titled-frames/*.fdb_latexmk
src/titled-frames/frame-title-label-styles/*.aux
src/titled-frames/frame-title-label-styles/*.bbl
src/titled-frames/frame-title-label-styles/*.bcf
src/titled-frames/frame-title-label-styles/*.blg
src/titled-frames/frame-title-label-styles/*.log
src/titled-frames/frame-title-label-styles/*.out
src/titled-frames/frame-title-label-styles/*.pdf
src/titled-frames/frame-title-label-styles/*.run.xml
src/titled-frames/frame-title-label-styles/*.synctex.gz
src/titled-frames/frame-title-label-styles/*.toc
src/titled-frames/frame-title-label-styles/*.fls
src/titled-frames/frame-title-label-styles/*.fls_latexmk
src/titled-frames/frame-title-label-styles/*.fdb_latexmk
src/titled-frames/frame-title-styles/*.aux
src/titled-frames/frame-title-styles/*.bbl
src/titled-frames/frame-title-styles/*.bcf
src/titled-frames/frame-title-styles/*.blg
src/titled-frames/frame-title-styles/*.log
src/titled-frames/frame-title-styles/*.out
src/titled-frames/frame-title-styles/*.pdf
src/titled-frames/frame-title-styles/*.run.xml
src/titled-frames/frame-title-styles/*.synctex.gz
src/titled-frames/frame-title-styles/*.toc
src/titled-frames/frame-title-styles/*.fls
src/titled-frames/frame-title-styles/*.fls_latexmk
src/titled-frames/frame-title-styles/*.fdb_latexmk
#Ignoriere main.tex
main.tex
#Ignoriere das Deckblatt
main/titlepage.tex
#Ignoriere den Anhang
main/anhang.tex

/lib/PDF/
/lib/img/HTML/
/lib/img/png/
