*
!*/
!.gitignore
!README.md
!src/*.tex
!main/*.tex
!lib/bibfiles/*.bib
!lib/img/svg/Universitaet_klagenfurt_logo.pdf
!lib/img/svg/Universitaet_klagenfurt_logo.pdf_tex
!lib/img/svg/Universitaet_klagenfurt_logo.svg
